h2, h3{
    text-align: center;
}

p{
    font-weight: 200;
}

.title{
    font-size: 250%;
}


body{
    font-size: 110%;
    background-color: rgba(0, 0, 0, 0.849);
    color: white;
    vertical-align: middle;
}


h1{
    text-align: center;
}

.image{
    position: relative;
}

h3{ 
position: absolute; /* To place the text on the image*/
top: 60%; /* The exact location of the text from the top of the image*/
width: 100%; 
font-size: xx-large;
font-family: "Palatino Linotype", "Book Antiqua";
font-size: 5vw; 
text-decoration: underline overline;}

.experience{
    color: black;
    background-color: white;
}
