h2, h3{
    color: #ffffff;
    text-align: center;
}

p{
    font-weight: 1;
    margin-left: 5%;
    margin-right: 5%;
}

h4{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 2vw;
}
.title{
    font-size: 250%;
}


body{
    font-size: 1.75vw;
    background-color: rgba(0, 0, 0, 0.856);
    color: honeydew;
    vertical-align: middle;
}


h1{
    text-align: center;
    margin-left: 5%;
}

.image{
    position: relative;
}

h3{ 
position: absolute; /* To place the text on the image*/
top: 60%; /* The exact location of the text from the top of the image*/
width: 100%; 
font-size: xx-large;
font-family: "Palatino Linotype", "Book Antiqua";
font-size: 5vw; 
text-decoration: underline overline;}
