h2{
    color: #ffffff;
    text-align: center;
}

p{
    width: 100%;
    font-weight: 1
}

.title{
    font-size: 250%;
}

body{
    font-size: 125%;
    padding: 0%;
    margin: 0%;
    background-color: rgba(0, 0, 0, 0.856);
    color: honeydew;
    vertical-align: middle;
}

img{
    vertical-align: middle;
    border-radius: 50%;
    background-size: fixed;
    margin-right: 30px;
}

h1{
    text-align: center;
}
